    body { 
    	background: white;
        color: Black;
        font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
  	margin: 0;
  	padding: 0;
        
    }
        
    header {
	background: grey;
	color: white;
	padding: 20px 0;
	margin: 0;
    }
    
    section { 
  	background: white;
  	color: gray;
  	padding: 20px;
  	display: flex;
  	flex-direction: row;
    }
    
    footer {
  	background: white;
    	color: black;
  	padding: 10px 20px;
    }
    
    div {
    	margin: auto;
    }
   
    ul {
    	margin: 0;
        padding 0;
        list-style-type: none;
    }
    
    li {
    	display: inline-block;
        margin: 0 20px 0 0;
        padding 0;
    }
    
    .dropdown-menu {
	display: none;
	padding: 5px 0 0 10px;
	margin: 0;
	list-style: none;
	bottom: 100%;
    	border-radius: 7px;
        color: black;
  	transform: translateY(15px);
  	background-color: white;
    }
		
    .dropdown-menu li {
	padding: 10px 0px 10px 0px;
    }
		
    .dropdown-menu li:hover {
	background-color: #f5f5f5;
    	border-radius: 8px;
	padding: 10px 5px 10px 5px;
    }
		
    .show {
	display: block;
    }
	
    .custom-image-button:hover .hover-text {
        display: block;
    }

    .hover-text {
        display: none;
        position: absolute;
        padding: 5px;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        background: black;
    	transform: translateX(0%);
    	transform: translateY(25px);
    }
    
    a {
      	text-decoration: none; /* Removes the underline */
      	color: inherit; /* Keeps the color of the text the same */
    }
    
    .polaroid {
      	width: 25%;
     	background-color: white;
      	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      	margin-bottom: 25px;
    	border-radius: 8px;
    }

    .container {
      	text-align: center;
      	padding: 10px 20px;
    }
    
    .polaroid:hover {
      	color: black;
        background-color: lightgrey;
    	border-radius: 12px;
    }
    
    input { 
    	font-size: 16;
    }
    
    .input-bubble {
      	position: relative;
     	display: inline-block;
    }

    .search-button {
      	position: absolute;
      	top: 50%;
      	right: 0;
      	right: 5px;
      	transform: translateY(-50%);
      	background: none;
      	border: none;
      	outline: none;
      	cursor: pointer;
    }
    
    .search-button i {
      	font-size: 2em; /* set the font size of the icon to 2 times the default size */
    }
    
    .fa-brands {
    	width: 30px;
        height: 20px;
      	font-size: 2em;
        padding: 0;
        margin: 0;
        color: black;
    }
	
    .result-box ul{
        padding: 15px 10px;
    }

    .result-box ul li{
        list-style: none;
        border-radius: 3px;
        padding: 15px 10px;
        cursor: pointer;
        display: block;
        background-color: transparent;
    	font-weight: bold;
        color: grey;
	text-align: left;
    }

    .result-box ul li:hover{
        background-color: lightgrey;
        border-radius: 8px;
	
    }

    .result-box { 
        max-height: 160px;
        overflow-y: hidden;
    }
